header {
  border: solid 1px red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .account-data {
    display: flex;
    flex-direction: row;
  }
}

body {
  margin: 0;
}
form,
label {
  display: flex;
  flex-direction: column;
}
label {
  margin: 25px;
}

a {
  display: block;
}
